@import ../../style/_mixins
@import ../../style/_colors



+neonAnimation($neonLightRed, $neonDarkRed, $neonLightYellow, $neonDarkYellow, $neonDarkerYellow, neon)


.wrapper
    display: flex
    height: 200vh
    width: 100vw
    background: $bgc
    flex-direction: column
    .head
        margin-top: 52px
        height: 100vh
        text-align: center
        width: 100%
        display: flex
        flex-direction: column
        position: relative
        .neon
            margin-top: 70px
            margin-bottom: 100px
            @media (max-width: 499px)
                margin-bottom: 60px
            display: flex
            justify-content: center
            h1
                font-family: 'neon'
                color: $neonRedFont
                padding: 20px 20px
                font-size: 10vw
                @media (max-width: 499px)
                    font-size: 3.5em
                    padding: 30px 20px
                @media (max-width: 360px)
                    font-size: 3em
                line-height: 9vw
                text-shadow: 0 0 3vw $neonRedTextShadow
                animation: neon 1s ease infinite
                +simpleNeonBorder($neonBorder, $neonBorderShadow)
                border-radius: 10px
        h2
            font-size: 4vw
            @media (max-width: 499px)
                font-size: 2em
                padding: 10px
            font-weight: bold
            text-transform: uppercase
            animation: neon 2s ease infinite
            +simpleNeonBorder(none, #28D7FE)
            border: none
            margin-left: 20%
            margin-right: 20%

    .belowContainer
        display: flex
        flex-direction: column
        .gameInfo
            +simpleNeonBorder($neonBorder, $neonBorderShadow)
            border-top: none
            border-bottom: none
            margin-top: 50px
            width: 100%
            background-color: white
            .textContainer
                padding: 25px 0
                margin: auto
                width: 40%
                @media (max-width: 499px)
                    width: 90%
        .signUp
            text-shadow: 0 0 3vw $neonRedTextShadow
            animation: neon 1s ease infinite
            cursor: pointer
            font-size: 6vw
            font-weight: bold
            margin: 50px auto
            white-space: nowrap
            @media (max-width: 499px)
                font-size: 2.5em


