.bidButtons
    display: flex
    flex-direction: column
    border: black solid 2px
    flex-basis: 65%
    box-shadow: 2px 2px 2px #966909
    background-color: #f1d18b
    @media (max-width: 499px)
        flex-basis: 30%


.wrapper
    display: flex
    justify-content: space-between


.drawButton
    height: 100%
    padding: 15px 10px
    border: black solid 2px
    flex-basis: 25%

