$bgDefault      : #9b59b6
$bgHighlight    : #8e44ad
$colDefault     : #ecf0f1
$colHover       : #ecdbff
$borderColor    : black

.NavigationItem
    background-color: $bgDefault
    display: block
    text-align: center
    border: 1px solid $borderColor
    &:hover
        background-color: $bgHighlight
    a
        text-decoration: none
        padding: 16px 10px
        margin-top: 5px







