@import ../../../style/_colors
@import ../../../style/_mixins

.navigationItem
    text-align: center
    margin: 2px 0 2px 0
    @media (max-width: 499px)
        width: 95%
    .active
        +simpleNeonBorder($neonBorder, $neonBorderShadow)
        border: none
    a
        text-decoration: none
        padding: 14px 26px
        display: block
        color: $navColorText
        text-shadow: 0 0 20px $neonTextShadow , 0 0 40px $neonTextShadow, 2px 2px 2px rgba(206,89,55,0)
        border-radius: 4px
        &:hover
            text-shadow: 0 0 5px #FFF, 0 0 20px $neonTextShadow, 0 0 40px $neonTextShadow, 0 0 55px $neonTextShadow, 0 0 75px $neonTextShadow, 2px 2px 2px rgba(206,89,55,0)









