
//nav
$navBg               : #292a2b
$navColorText        : #FFF

//neon
//landing
$neonLightRed       : #FA1C16
$neonLightYellow    : #FED128
$neonDarkRed        : #800E0B
$neonDarkYellow     : #806914
$neonDarkerYellow   : #40340A

$neonRedFont        : #FB4264
$neonRedTextShadow  : #F40A35

$neonBorder         : #0cd808
$neonBorderShadow   : #b3ff51

// #8BFDFE
// #1041FF
// #147280
// #28D7FE
// #082180
// #0A3940
// #146C80
//nav
$neonTextShadow     : #49ff18

//bg
$bgc                : #131518

//text
$txtBgc             : #f0f0f0

//bidPanel
$bidPanelBG         : #222222